 body{
   background-image: url(https://previews.123rf.com/images/somegirl/somegirl1708/somegirl170800073/84059815-food-seasoning-background-blue-coloured-rustic-wooden-background-lemon-slices-herbs-pepper-sea-salt-.jpg);
   filter:alpha(opacity=40);
  }
 #header{
  display:flex;
  font-size:15px;
  justify-content:space-evenly;
 
 }
   img{
    filter: brightness(120%);
   filter: contrast(120%);
   filter: drop-shadow(10px 20px 8px white);
   }
 h1 {
  color: white;
  text-shadow: 6px 6px 6px #000000;
font-family: 'Bree Serif', serif;
}
#footer{
text-align:center
}
#banner{
  display:flex;

}
button{
 color:rgb(72, 0, 139);
 background-color: hotpink;
 
}